{% extends 'base.html' %}

{% block content %}
    <h1>Login</h1>
    <hr>
    {% if form.errors %}
        <p>{{form.errors.error}}</p>
    {% endif %}
    <form action="{% url 'login' %}" class="form-box" method="post">
        {{form.as_p}}
        {% csrf_token %}
        <p>
            <button type="submit" class="btn btn-success">Submit</button>
        </p>
        <div style="width: 50%;">
            <a href="{% url 'password_reset' %}">Forgot password</a>
        </div>
    </form>

{% endblock content %}